<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>마이페이지</title>
	<link media="all" rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
	<link rel="stylesheet" href="/css/mypage.css">
	<!--    <link rel="stylesheet" href="http:///cdnjs.cloudflare.com/ajax/libs/font-awsome/5.15.4/css/all.min.css">-->

	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- icon cdn-->
</head>

<body>
	<div th:replace="fragments/bodyHeader :: bodyHeader"></div>

	<!-- header section ends -->

	<!-- contents section starts -->
	<section class="contents">
		<div class="mypage_big_box">
			<div class="mypage">
<!--				<div class="mypage_table">-->
<!--					<h1 id="myinfo"> 마이페이지 </h1>-->
<!--					<form method="post" action="/infoUpdate">-->
<!--						<table width="80%">-->
<!--							<tr>-->
<!--								<th>아이디</th>-->
<!--								<td>-->
<!--									<input type="text" name="userName" th:value="${session.userName}" readonly>-->
<!--								</td>-->
<!--							</tr>-->
<!--							<tr>-->
<!--								<th>이름</th>-->
<!--								<td>-->
<!--									<input type="text" name="userName" th:value="${session.userName}" readonly>-->
<!--								</td>-->
<!--							</tr>-->
<!--							<tr>-->
<!--								<th>이메일</th>-->
<!--								<td>-->
<!--									<input type="text" name="userEmail" class="userInfo" th:value="${session.userEmail}" readonly>-->
<!--								</td>-->
<!--							</tr>-->
<!--							<tr>-->
<!--								<th>전화번호</th>-->
<!--								<td>-->
<!--									<input type="text" name="userPhone" class="userInfo" th:value="${session.userPhone}" readonly>-->
<!--								</td>-->
<!--							</tr>-->
<!--							<tr>-->
<!--								<th>생년월일</th>-->
<!--								<td>-->
<!--									<input type="text" name="userBirth" class="userInfo" th:value="${session.userBirth}" readonly>-->
<!--								</td>-->
<!--							</tr>-->
<!--							<tr>-->
<!--								<th>우편번호</th>-->
<!--								<td>-->
<!--									<input type="text" name="userPost" class="userInfo" th:value="${session.userPost}" readonly>-->
<!--								</td>-->
<!--							</tr>-->
<!--							<tr>-->
<!--								<th>주소</th>-->
<!--								<td>-->
<!--									<input type="text" name="userAddr" class="userInfo" th:value="${session.userAddr}" readonly>-->
<!--								</td>-->
<!--							</tr>-->
<!--							<tr>-->
<!--								<th>상세 주소</th>-->
<!--								<td>-->
<!--									<input type="text" name="addr_detail" class="userInfo" th:value="${session.addr_detail}" readonly>-->
<!--								</td>-->
<!--							</tr>-->
<!--						</table>-->
<!--						<div class="mod-home-container">-->
<!--							<input type="button" value="수정하기" class="modMember" onclick="userInfoUpdate()">-->
<!--							<input type="submit" value="수정" class="updateBtn" onclick="userInfoUpdate()">-->
<!--							<input type="button" value="취소" class="updateBtn" onclick="userInfoUpdate()">-->
<!--							<input type="button" class="goHome" value="메인" onclick="location.href='/'">-->
<!--						</div>-->
<!--					</form>-->
<!--				</div>-->
				<div class="board-container">
					<h1 id="myinfo"> 마이페이지 </h1>
					<form method="post" action="/infoUpdate">
						<table width="80%">
							<tr>
								<th>아이디</th>
								<td>
									<input type="text" name="userName" th:value="${session.userID}" readonly>
								</td>
							</tr>
							<tr>
								<th>이름</th>
								<td>
									<input type="text" name="userName" th:value="${session.userName}" readonly>
								</td>
							</tr>
							<tr>
								<th>이메일</th>
								<td>
									<input type="text" name="userEmail" class="userInfo" th:value="${session.userEmail}" readonly>
								</td>
							</tr>
							<tr>
								<th>전화번호</th>
								<td>
									<input type="text" name="userPhone" class="userInfo" th:value="${session.userPhone}" readonly>
								</td>
							</tr>
							<tr>
								<th>생년월일</th>
								<td>
									<input type="text" name="userBirth" class="userInfo" th:value="${session.userBirth}" readonly>
								</td>
							</tr>
							<tr>
								<th>우편번호</th>
								<td>
									<input type="text" name="userPost" class="userInfo" th:value="${session.userPost}" readonly>
								</td>
							</tr>
							<tr>
								<th>주소</th>
								<td>
									<input type="text" name="userAddr" class="userInfo" th:value="${session.userAddr}" readonly>
								</td>
							</tr>
							<tr>
								<th>상세 주소</th>
								<td>
									<input type="text" name="addr_detail" class="userInfo" th:value="${session.addr_detail}" readonly>
								</td>
							</tr>
						</table>
						<div class="mod_home">

							<!--                                <input type="button" value="수정하기" class="modMember" onclick="userInfoUpdate()">-->
							<input type="button" class="btn" value="수정" onclick="chBoard()">
							<!--                                <input type="submit" value="수정" class="updateBtn" onclick="userInfoUpdate()">-->
							<input type="submit" class="hiddenBtn" value="확인" onclick="update('Insert')">
							<input type="button" class="hiddenBtn" value="취소" onclick="location.reload()">
							<!--                                <input type="button" class="goHome" value="메인" onclick="location.href='/'">-->

						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
<script src="/js/mypage.js"></script>
	<script src="/js/main.js"></script>
<script>
	var message = "[[${message}]]";
	if (message && message.trim() !== "") {
		alert(message);
	}
</script>
</body>

</html>