<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>고객센터</title>
	<link media="all" rel="stylesheet" th:href="@{/css/main.css}" type="text/css" />
	<link rel="stylesheet" href="/css/serviceCenter.css" />

	<!-- font cdn link -->
	<!--    <link rel="stylesheet" href="http:///cdnjs.cloudflare.com/ajax/libs/font-awsome/5.15.4/css/all.min.css">-->

	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- icon cdn-->
</head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<!-- header section ends -->

<div id="content">
<div class="all">
	<a href="boardWrite">글작성</a>
	<div th:if="${!boardList.isEmpty()}">
		<table>
			<tr>
				<td>
					게시번호
				</td>
				<td>
					구분
				</td>
				<td>
					글 제목
				</td>
				<td>
					작성자
				</td>
				<td>
					게시일
				</td>
			</tr>
			<form th:each="board : ${boardList}" method="get" action="selectBoard">
				<tr>
					<td>
						<input type="text" name="boardID" th:value="${board.getBoardID()}" readonly>
					</td>
					<td>
						<input type="text" name="boardDivide" th:value="${board.getBoardDivide()}" readonly>
					</td>
					<td>
						<input type="text" name="boardName" th:value="${board.getBoardName()}" readonly>
					</td>
					<td>
						<input type="text" name="userName" th:value="${board.getUserName()}" readonly>
					</td>
					<td>
						<input type="text" name="boardTime" th:value="${board.getBoardTime()}" readonly>
					</td>
					<td>
						<input type="submit" value="글 이동">
					</td>
				</tr>
			</form>
		</table>
	</div>
</div>
</div>
<div class="text" th:unless="${!boardList.isEmpty()}">
	등록된 게시글이 없습니다
</div>

<script src="/js/main.js"></script>
<script>
	var message = "[[${message}]]";
	if (message && message.trim() !== "") {
		alert(message);
	}
</script>
</body>

</html>